[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"discord.py" = "*"
gspread = "*"
pytz = "*"
isort = "*"
black = "*"
flake8 = "*"
pyproject-flake8 = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
